<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>
            Login
        </title>
        <script type="text/javascript" src="/static/js/form_utils.js"></script>
        <script>
            window.onload = () => {
                var loginForm = document.getElementById('login_form')

                loginForm.onsubmit = (e) => {
                    e.preventDefault()

                    var requestData = form_to_obj(loginForm)
                    var url = "{{ url_for('auth.api_login') }}"

                    async_json_request(url, 'POST', JSON.stringify(requestData), (data) => {
                        console.log(data)

                        if(data.success)
                            window.location = "{{ url_for('auth.ui_secret') }}"
                        else
                            alert(data.error)
                    })
                }
            }
        </script>
    </head>
    <body>
        {% include "include/navbar.inc.jinja2" %}
        {% include "include/display_flashes.inc.jinja2" %}
        <h1>Login</h1>
        <form id="login_form" name="login_form">
            <label for="email_input">E-Mail</label>
            <input id="email_input" name="email" type="text">
            <label for="pass_input">Password</label>
            <input id="pass_input" name="password" type="password">
            <input value="Login" type="submit">
        </form>
    </body>
</html>
