<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>
            Register
        </title>
        <script type="text/javascript" src="/static/js/form_utils.js"></script>
        <script>
            window.onload = () => {
                var registerForm = document.getElementById('register_form')

                registerForm.onsubmit = (e) => {
                    e.preventDefault()

                    var requestData = form_to_obj(registerForm)
                    var url = "{{ url_for('auth.api_register') }}"
                    
                    async_json_request(url, 'POST', JSON.stringify(requestData), (data) => {
                        console.log(data)

                        if(data.success)
                            window.location = "{{ url_for('auth.ui_login') }}"
                        else
                            alert(data.error)
                    })
                }
            }
        </script>
    </head>
    <body>
        {% include "navbar.inc.jinja2" %}
        {% include "display_flashes.inc.jinja2" %}
        <h1>Register</h1>
        <form id="register_form" name="register_form" action="">
            <label for="email_input">E-Mail</label>
            <input id="email_input" name="email" type="text">
            <label for="pass_input">Password</label>
            <input id="pass_input" name="password" type="password">
            <input value="Register" type="submit">
        </form>
    </body>
</html>
