<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>
            Secret
        </title>
        <script>
            window.onload = () => {
                var loginForm = document.getElementById('logout_form')

                loginForm.onsubmit = (e) => {
                    e.preventDefault()
                    var formData = new FormData(loginForm)
                    var requestData = Object.fromEntries(formData.entries())
                    
                    var response = fetch('/auth/api/logout', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(requestData)
                    })
                    .then(response => response.json())
                    .then((data) => {
                        if(data.success)
                            window.location = '/auth/login'
                        else
                            alert(data.error)
                    })

                }
            }
        </script>
    </head>
    <body>
        <h1>Secret! Only logged in users allowed!</h1>
        <p>Hello {{ session['user']['email'] }}!</p>
        <form id="logout_form" name="logout_form">
            <input value="Logout" type="submit">
        </form>
    </body>
</html>
