<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>
            Secret
        </title>
        {{ JSGlue.include() }}
        <script type="module">
            import { form_to_obj, async_json_request } from "/static/js/form_utils.js"

            window.onload = () => {
                var logoutButton = document.getElementById('logout_button')

                logoutButton.onclick = (e) => {
                    var url = Flask.url_for('auth.api_logout')
                    async_json_request(url, 'POST', null, (data) => {
                        if(data.success)
                            window.location = Flask.url_for('auth.ui_login')
                        else
                            alert(data.error)
                    })
                }
            }
        </script>
    </head>
    <body>
        {% include "include/navbar.inc.jinja2" %}
        {% include "include/display_flashes.inc.jinja2" %}
        <h1>Secret! Only logged in users allowed!</h1>
        <p>Hello {{ session['user_data']['email'] }}!</p>
        <button id="logout_button">
            Logout
        </button>
</html>
