<div class="toast-container position-absolute top-5 end-0 p-3" id="toast_container">

    {% for message in get_flashed_messages() %}
    <div class="toast">
        <div class="toast-header">
            <strong class="me-auto">Notification:</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{ message }}
        </div>
    </div>
    {% endfor %}

</div>
