<div style="border-bottom: black 1px solid; width = 100%;">
    Navbar:
    <a href="{{ url_for('auth.ui_register') }}">
        Register
    </a>
    <a href="{{ url_for('auth.ui_login') }}">
        Login
    </a>
    {% if is_logged_in() %}
    <a href="{{ url_for('auth.ui_secret') }}">
        Secret
    </a>
    {% endif %}
</div>
